@import "./base/base";
@import "./abstracts/variables";
@import "./layout/container";

$color:blue;
$color-text:white;

.header{
    text-align: center;
    color: $color-text;
    background-color: $color;
    padding: 1.5em 0;
    margin: 0;
}

.img-sign{
    min-width: 300px;
    min-height: 400px;
    border: 2px solid black;
    display:block;
    margin:auto;
}

.letter{
    text-align: center;
    background-color: cyan;
    min:{
        width: 100%;
        height: 100%;
    }
    font-size: 2em;
    padding: 1em;
}